.comment {
    margin: 20px 0;
    border: 1px solid #000;
    padding: 15px;
    background-color: aliceblue;

    &-name {
        font-weight: bold;
    }

    &-body {
        font-style: italic;
        margin: 15px 0;
    }
}